$layout-breakpoint-desktop: 926px
$layout-breakpoint-widescreen: 1213px
$layout-breakpoint-fullhd: 1500px

$shadow: #053944 !default
$border-radius: 10px !default
$box-shadow: 0 2px 4px rgba($shadow, 0.10), 0 4px 16px rgba($shadow, 0.07) !default



@media (min-width: $layout-breakpoint-desktop)
    .no-catalog-filters, .catalog-center-width 
        width: 960px


@media (min-width: $layout-breakpoint-widescreen)
    .no-catalog-filters, .catalog-center-width 
        width: 1152px


@media (min-width: $layout-breakpoint-fullhd)
    .no-catalog-filters, .catalog-center-width 
        width: 1344px

.catalog-center-width 
    margin: 0 auto
    padding: 0 8px

//CATALOG COURSES
.sj-page-catalog, #catalog-courses
    justify-content: flex-start

#catalog-courses
    display: inline-flex
    gap: 1.25%
    margin-left: -0.75rem
    margin-right: -0.75rem
    margin-top: -0.75rem

a.coursebox-container
    width: 24%
    margin: 0% 0% 1% 0%
    border: none
    border-radius: $border-radius
    box-shadow: $box-shadow
    
    coursebox-text-description
        line-height: 1.5
        font-size: 1.125em
