$layout-breakpoint-desktop: 926px
$layout-breakpoint-widescreen: 1213px
$layout-breakpoint-fullhd: 1500px

$shadow-color: #053944 !default
$shadow-color-2: #053944 !default
$border-radius: 10px !default
$card-shadow: 0 2px 4px rgba($shadow-color, 0.10), 0 4px 16px rgba($shadow-color, 0.07) !default
$card-shadow-hover: 0 4px 8px rgba($shadow-color-2, 0.15), 0 5px 25px rgba($shadow-color-2, 0.1) !default

@media (min-width: $layout-breakpoint-desktop)
    .no-catalog-filters
        .catalog-center-width 
            width: 960px


@media (min-width: $layout-breakpoint-widescreen)
    .no-catalog-filters
        .catalog-center-width 
            width: 1152px


@media (min-width: $layout-breakpoint-fullhd)
    .no-catalog-filters
        .catalog-center-width 
            width: 1344px

.catalog-center-width 
    margin: 0 auto
    padding: 0 8px

//CATALOG COURSES
.sj-page-catalog
    #catalog-courses
        justify-content: flex-start !important

#catalog-courses
    display: inline-flex
    gap: 1.25%
    margin-left: -0.75rem
    margin-right: -0.75rem
    margin-top: -0.75rem

a.coursebox-container
    transition:all .35s easeOutQuint
    width: 24%
    margin: 0% 0% 2% 0%
    border: none
    border-radius: $border-radius
    box-shadow: 0 2px 4px rgba(5, 57, 68, 0.10), 0 4px 16px rgba(5, 57, 68, 0.07)
    &:hover
        box-shadow: 0 4px 8px rgba(5, 57, 68, 0.15), 0 5px 25px rgba(5, 57, 68, 0.1)
        border: none
        transform: translateY(-10px)
    .coursebox-text-description
        line-height: 1.5
        font-size: 1.125em
        padding: 0 24px 30px 26px
    .coursebox-text
        font-family: $strong-sans-serif
        font-size: 1.625em
        line-height: 1.25
    .catalog-page-callout, 
    .coursebox-callout
        border-top: 1px solid #B3BAC5
        color: $charcoal !important
        font-family: $strong-sans-serif
        font-weight: normal
        text-align: left
        font-size: 1.125em
    .storefront-price
        display: none
    



// INTERIOR HERO PAGE CONTENT
.int-hero-content
    min-height: 200px
    padding-bottom: 50px
    h2
        font-size: 3em
        margin-bottom: .25em
    p
        font-size: 1.123em
    a
        font-family: $strong-sans-serif
    .int-subheading
        font-size: 1.625em
        text-align: center

// Set font size for separator titles
a.coursebox-container[data-tags*="separator"]  
    padding: 0px !important
    text-align: left !important
    width: 100% !important
    min-height: unset !important
    background-color: transparent !important
    box-shadow: none !important
    pointer-events: none !important
    border: none !important
    .coursebox-text
        font-size: 2.375em
        padding: 0px
        margin: 60px 0 10px 0
    .coursebox-text-description,
    .coursebox-callout,
    coursebox-tags
        margin: 0px
        display: none !important
    

a.coursebox-container[data-tags*="separator"] .storefront-price,
.search a.coursebox-container[data-tags*="separator"],
a.coursebox-container[data-tags*="separator"] .coursebox-image
    display: none !important