$avenir-font-path: "/css/fonts"

@font-face
    src: url("#{$avenir-font-path}/avenir_book.eot")
    src: url("#{$avenir-font-path}/avenir_book.eot?#iefix") format("embedded-opentype"), url("#{$avenir-font-path}/avenir_book.woff2") format("woff2"), url("#{$avenir-font-path}/avenir_book.woff") format("woff"), url("#{$avenir-font-path}/avenir_book.ttf") format("truetype")
    font-family: "Avenir-Book"
    font-weight: 100

@font-face
    src: url("#{$avenir-font-path}/avenir_black.eot")
    src: url("#{$avenir-font-path}/avenir_black.eot?#iefix") format("embedded-opentype"), url("#{$avenir-font-path}/avenir_black.woff2") format("woff2"), url("#{$avenir-font-path}/avenir_black.woff") format("woff"), url("#{$avenir-font-path}/avenir_black.ttf") format("truetype")
    font-family: "Avenir-Black"
    font-weight: 900

@font-face
    src: url("#{$avenir-font-path}/avenir_heavy.eot")
    src: url("#{$avenir-font-path}/avenir_heavy.eot?#iefix") format("embedded-opentype"), url("#{$avenir-font-path}/avenir_heavy.woff2") format("woff2"), url("#{$avenir-font-path}/avenir_heavy.woff") format("woff"), url("#{$avenir-font-path}/avenir_heavy.ttf") format("truetype")
    font-family: "Avenir-Heavy"
    font-weight: 700